<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
	<title>Add question</title>
</head>
<body>
	<h1>Add a question</h1>
	<form th:object="${question}" th:action="@{/savequestion/{id}(id=${inquiryid})}" action="#"
		method="post">
		<label for="question">Question:</label>
			<input type="text" id="question" th:field=*{text} /><br>
			<input type="hidden" th:field=*{inquiry.inquiryid}>
			<input type="submit" value="Add" class="btn btn-info"/>
	</form>
	<a th:href="@{/questionlist/{id}(id=${question.inquiry.inquiryid})}" class="btn btn-danger" style="margin-top: 10px;">Back To Questions</a>

</body>
</html>