<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
    <title>QuestionList</title>
</head>
<body>
    <h1>Questions: <span th:text="${inquiry.title}"></span></h1>
    <h4><span th:text="${inquiry.description}"></span></h4>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Question</th>
                <th>Options</th>
                <th></th>
            </tr>		 
            <th:block th:each="question : ${questions}">
                <tr>
                    <td th:text="${question.text}"></td>
                    <td>
                        <span th:each="option : ${question.options}">
                            <br>
                            <span th:text="${option.optionText}"></span>
                        </span>
                    </td>
                    <td><a th:href="@{/addoption/{id}(id=${question.questionId})}" class="btn btn-success" style="margin-bottom: 5px;">Add Option</a></td>               
                </tr>
            </th:block>
        </tbody>
    </table>
    <a th:href="@{/addquestion/{id}(id=${inquiry.inquiryid})}" class="btn btn-info" style="margin-bottom: 5px;">Add New Question</a>
    <br>
    <a href="/inquirylist" class="btn btn-danger" style="margin-top: 5px;">Back To Inquiries</a>
</body>
</html>
